
body{
margin-left: auto;
margin-right: auto;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
color: 444444;
width: 550px;
text-align: center;
}

.links{
margin-top: 15px;
	font-size: 12pt;
	text-align: center;
}

#header{
margin-left: auto;
margin-right: auto;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
color: 444444;
width: 550px;
text-align: center;
	}	
	
#content{
margin-left: auto;
margin-right: auto;
font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
color: 444444;
width: 550px;
text-align: center;
	}
	
a:link {text-decoration: none; color: #D32027;}
a:visited {text-decoration: none; color: #D32027;}
a:hover {text-decoration: none; color: #444444;}